02-task-scheduler/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "connections_twilio_name": {
            "defaultValue": "twilio",
            "type": "String"
        },
        "workflows_lucys_dilemma_name": {
            "defaultValue": "lucys-dilemma",
            "type": "String"
        },
        "workflows_lucys_dilemma_2_name": {
            "defaultValue": "lucys-dilemma-2",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_twilio_name')]",
            "location": "uksouth",
            "properties": {
                "displayName": "Lucy's Phone",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/5f11eaf5-68e6-4e7a-b2ba-33f03b1724e8/providers/Microsoft.Web/locations/uksouth/managedApis/', parameters('connections_twilio_name'))]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_lucys_dilemma_name')]",
            "location": "uksouth",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_twilio_name'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "ToPhoneNumber": {
                            "defaultValue": "+447123456789",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "runAt": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "actions": {
                        "Delay_to_deliver_the_coffee_and_return_to_the_kitchen": {
                            "runAfter": {
                                "Send_SMS_reminder_to_deliver_two_cups_of_coffee_to_mom_and_dad": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Wait",
                            "inputs": {
                                "interval": {
                                    "count": 4,
                                    "unit": "Minute"
                                }
                            }
                        },
                        "Delay_to_deliver_the_coffee_and_return_to_the_kitchen_before_taking_a_break": {
                            "runAfter": {
                                "Send_SMS_reminder_to_deliver_two_cups_of_coffee_to_sister_and_brother": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Wait",
                            "inputs": {
                                "interval": {
                                    "count": 4,
                                    "unit": "Minute"
                                }
                            }
                        },
                        "Delay_until_time_to_deliver_the_next_set_of_coffee": {
                            "runAfter": {
                                "Send_the_return_to_the_kitchen_and_fill_two_more_cups_reminder_SMS": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Wait",
                            "inputs": {
                                "interval": {
                                    "count": 6,
                                    "unit": "Minute"
                                }
                            }
                        },
                        "Do_until_the_candles_are_needed_no_longer": {
                            "actions": {
                                "Delay_until_the_candles_need_relighting": {
                                    "runAfter": {
                                        "Increment_the_number_of_times_the_candles_need_lighting_counter": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Wait",
                                    "inputs": {
                                        "interval": {
                                            "count": 10,
                                            "unit": "Minute"
                                        }
                                    }
                                },
                                "Increment_the_number_of_times_the_candles_need_lighting_counter": {
                                    "runAfter": {
                                        "Send_the_remember_to_light_the_candles_SMS": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "IncrementVariable",
                                    "inputs": {
                                        "name": "LightCandlesCounter",
                                        "value": 1
                                    }
                                },
                                "Send_the_remember_to_light_the_candles_SMS": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "body": "Lucy, remember to light the candles!",
                                            "from": "+12053031873",
                                            "to": "@parameters('ToPhoneNumber')"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['twilio']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/Messages.json"
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_the_number_of_times_the_candles_need_lighting": [
                                    "Succeeded"
                                ]
                            },
                            "expression": "@equals(variables('LightCandlesCounter'), 2)",
                            "limit": {
                                "count": 60,
                                "timeout": "PT1H"
                            },
                            "type": "Until"
                        },
                        "Initialize_the_number_of_times_the_candles_need_lighting": {
                            "runAfter": {
                                "Wait_until_the_candles_need_lighting": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "LightCandlesCounter",
                                        "type": "integer",
                                        "value": 0
                                    }
                                ]
                            }
                        },
                        "Send_SMS_reminder_to_deliver_two_cups_of_coffee_to_mom_and_dad": {
                            "runAfter": {
                                "Wait_to_deliver_the_first_two_cups_of_coffee": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "body": "Lucy, time to deliver two cups of coffee to mom and dad",
                                    "from": "+12053031873",
                                    "to": "@parameters('ToPhoneNumber')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['twilio']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Messages.json"
                            }
                        },
                        "Send_SMS_reminder_to_deliver_two_cups_of_coffee_to_sister_and_brother": {
                            "runAfter": {
                                "Delay_until_time_to_deliver_the_next_set_of_coffee": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "body": "Lucy, time to deliver two cups of coffee to sister and brother",
                                    "from": "+12053031873",
                                    "to": "@parameters('ToPhoneNumber')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['twilio']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Messages.json"
                            }
                        },
                        "Send_the_SMS_reminder_to_pour_the_first_two_cups_of_coffee": {
                            "runAfter": {
                                "Wait_for_the_coffee_to_brew": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "body": "Lucy, it's time to pour two cups of coffee",
                                    "from": "+12053031873",
                                    "to": "@parameters('ToPhoneNumber')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['twilio']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Messages.json"
                            }
                        },
                        "Send_the_SMS_reminder_to_return_to_the_kitchen_and_take_a_break!": {
                            "runAfter": {
                                "Delay_to_deliver_the_coffee_and_return_to_the_kitchen_before_taking_a_break": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "body": "Lucy, time to return to the kitchen and take a break!",
                                    "from": "+12053031873",
                                    "to": "@parameters('ToPhoneNumber')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['twilio']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Messages.json"
                            }
                        },
                        "Send_the_reminder_to_start_the_coffee_and_set_out_4_cups_SMS": {
                            "runAfter": {
                                "Start_at_time_provided_by_the_HTTP_Request_(2019-12-13T08:00:00+01:00)": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "body": "Lucy, remember to start the coffee and set out 4 cups.",
                                    "from": "+12053031873",
                                    "to": "@parameters('ToPhoneNumber')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['twilio']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Messages.json"
                            }
                        },
                        "Send_the_return_to_the_kitchen_and_fill_two_more_cups_reminder_SMS": {
                            "runAfter": {
                                "Delay_to_deliver_the_coffee_and_return_to_the_kitchen": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "body": "Lucy, time to return to the kitchen and fill two more cups",
                                    "from": "+12053031873",
                                    "to": "@parameters('ToPhoneNumber')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['twilio']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Messages.json"
                            }
                        },
                        "Start_at_time_provided_by_the_HTTP_Request_(2019-12-13T08:00:00+01:00)": {
                            "runAfter": {},
                            "type": "Wait",
                            "inputs": {
                                "until": {
                                    "timestamp": "@triggerBody()?['runAt']"
                                }
                            }
                        },
                        "Wait_for_the_coffee_to_brew": {
                            "runAfter": {
                                "Send_the_reminder_to_start_the_coffee_and_set_out_4_cups_SMS": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Wait",
                            "inputs": {
                                "interval": {
                                    "count": 25,
                                    "unit": "Minute"
                                }
                            }
                        },
                        "Wait_to_deliver_the_first_two_cups_of_coffee": {
                            "runAfter": {
                                "Send_the_SMS_reminder_to_pour_the_first_two_cups_of_coffee": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Wait",
                            "inputs": {
                                "interval": {
                                    "count": 10,
                                    "unit": "Minute"
                                }
                            }
                        },
                        "Wait_until_the_candles_need_lighting": {
                            "runAfter": {
                                "Send_the_reminder_to_start_the_coffee_and_set_out_4_cups_SMS": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Wait",
                            "inputs": {
                                "interval": {
                                    "count": 30,
                                    "unit": "Minute"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "twilio": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_twilio_name'))]",
                                "connectionName": "twilio",
                                "id": "/subscriptions/5f11eaf5-68e6-4e7a-b2ba-33f03b1724e8/providers/Microsoft.Web/locations/uksouth/managedApis/twilio"
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_lucys_dilemma_2_name')]",
            "location": "uksouth",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_twilio_name'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "ToPhoneNumber": {
                            "defaultValue": "+447123456789",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "runAt": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "actions": {
                        "Delay_to_deliver_the_coffee_and_return_to_the_kitchen": {
                            "runAfter": {
                                "Send_SMS_reminder_to_deliver_two_cups_of_coffee_to_mom_and_dad": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Wait",
                            "inputs": {
                                "interval": {
                                    "count": 4,
                                    "unit": "Minute"
                                }
                            }
                        },
                        "Delay_to_deliver_the_coffee_and_return_to_the_kitchen_before_taking_a_break": {
                            "runAfter": {
                                "Send_SMS_reminder_to_deliver_two_cups_of_coffee_to_sister_and_brother": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Wait",
                            "inputs": {
                                "interval": {
                                    "count": 4,
                                    "unit": "Minute"
                                }
                            }
                        },
                        "Delay_until_time_to_deliver_the_next_set_of_coffee": {
                            "runAfter": {
                                "Send_the_return_to_the_kitchen_and_fill_two_more_cups_reminder_SMS": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Wait",
                            "inputs": {
                                "interval": {
                                    "count": 6,
                                    "unit": "Minute"
                                }
                            }
                        },
                        "Do_until_the_candles_are_needed_no_longer": {
                            "actions": {
                                "Delay_until_the_candles_need_relighting": {
                                    "runAfter": {
                                        "Increment_the_number_of_times_the_candles_need_lighting_counter": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Wait",
                                    "inputs": {
                                        "interval": {
                                            "count": 10,
                                            "unit": "Minute"
                                        }
                                    }
                                },
                                "Increment_the_number_of_times_the_candles_need_lighting_counter": {
                                    "runAfter": {
                                        "Send_the_remember_to_light_the_candles_SMS": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "IncrementVariable",
                                    "inputs": {
                                        "name": "LightCandlesCounter",
                                        "value": 1
                                    }
                                },
                                "Send_the_remember_to_light_the_candles_SMS": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "body": "Lucy, remember to light the candles!",
                                            "from": "+12053031873",
                                            "to": "@parameters('ToPhoneNumber')"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['twilio']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/Messages.json"
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_the_number_of_times_the_candles_need_lighting": [
                                    "Succeeded"
                                ]
                            },
                            "expression": "@equals(variables('LightCandlesCounter'), 2)",
                            "limit": {
                                "count": 60,
                                "timeout": "PT1H"
                            },
                            "type": "Until"
                        },
                        "Initialize_the_number_of_times_the_candles_need_lighting": {
                            "runAfter": {
                                "Wait_until_the_candles_need_lighting": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "LightCandlesCounter",
                                        "type": "integer",
                                        "value": 0
                                    }
                                ]
                            }
                        },
                        "Send_SMS_reminder_to_deliver_two_cups_of_coffee_to_mom_and_dad": {
                            "runAfter": {
                                "Wait_to_deliver_the_first_two_cups_of_coffee": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "body": "Lucy, time to deliver two cups of coffee to mom and dad",
                                    "from": "+12053031873",
                                    "to": "@parameters('ToPhoneNumber')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['twilio']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Messages.json"
                            }
                        },
                        "Send_SMS_reminder_to_deliver_two_cups_of_coffee_to_sister_and_brother": {
                            "runAfter": {
                                "Delay_until_time_to_deliver_the_next_set_of_coffee": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "body": "Lucy, time to deliver two cups of coffee to sister and brother",
                                    "from": "+12053031873",
                                    "to": "@parameters('ToPhoneNumber')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['twilio']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Messages.json"
                            }
                        },
                        "Send_the_SMS_reminder_to_pour_the_first_two_cups_of_coffee": {
                            "runAfter": {
                                "Wait_for_the_coffee_to_brew": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "body": "Lucy, it's time to pour two cups of coffee",
                                    "from": "+12053031873",
                                    "to": "@parameters('ToPhoneNumber')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['twilio']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Messages.json"
                            }
                        },
                        "Send_the_SMS_reminder_to_return_to_the_kitchen_and_take_a_break!": {
                            "runAfter": {
                                "Delay_to_deliver_the_coffee_and_return_to_the_kitchen_before_taking_a_break": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "body": "Lucy, time to return to the kitchen and take a break!",
                                    "from": "+12053031873",
                                    "to": "@parameters('ToPhoneNumber')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['twilio']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Messages.json"
                            }
                        },
                        "Send_the_reminder_to_start_the_coffee_and_set_out_4_cups_SMS": {
                            "runAfter": {
                                "Start_at_time_provided_by_the_HTTP_Request_(2019-12-13T08:00:00+01:00)": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "body": "Lucy, remember to start the coffee and set out 4 cups.",
                                    "from": "+12053031873",
                                    "to": "@parameters('ToPhoneNumber')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['twilio']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Messages.json"
                            }
                        },
                        "Send_the_return_to_the_kitchen_and_fill_two_more_cups_reminder_SMS": {
                            "runAfter": {
                                "Delay_to_deliver_the_coffee_and_return_to_the_kitchen": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "body": "Lucy, time to return to the kitchen and fill two more cups",
                                    "from": "+12053031873",
                                    "to": "@parameters('ToPhoneNumber')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['twilio']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Messages.json"
                            }
                        },
                        "Start_at_time_provided_by_the_HTTP_Request_(2019-12-13T08:00:00+01:00)": {
                            "runAfter": {},
                            "type": "Wait",
                            "inputs": {
                                "until": {
                                    "timestamp": "@triggerBody()?['runAt']"
                                }
                            }
                        },
                        "Wait_for_the_coffee_to_brew": {
                            "runAfter": {
                                "Send_the_reminder_to_start_the_coffee_and_set_out_4_cups_SMS": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Wait",
                            "inputs": {
                                "interval": {
                                    "count": 25,
                                    "unit": "Minute"
                                }
                            }
                        },
                        "Wait_to_deliver_the_first_two_cups_of_coffee": {
                            "runAfter": {
                                "Send_the_SMS_reminder_to_pour_the_first_two_cups_of_coffee": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Wait",
                            "inputs": {
                                "interval": {
                                    "count": 10,
                                    "unit": "Minute"
                                }
                            }
                        },
                        "Wait_until_the_candles_need_lighting": {
                            "runAfter": {
                                "Send_the_reminder_to_start_the_coffee_and_set_out_4_cups_SMS": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Wait",
                            "inputs": {
                                "interval": {
                                    "count": 30,
                                    "unit": "Minute"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "twilio": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_twilio_name'))]",
                                "connectionName": "twilio",
                                "id": "/subscriptions/5f11eaf5-68e6-4e7a-b2ba-33f03b1724e8/providers/Microsoft.Web/locations/uksouth/managedApis/twilio"
                            }
                        }
                    }
                }
            }
        }
    ]
}